---
import Layout from "@layouts/Layout.astro";
import HumanCard from "@components/HumanCard.astro";
---

<Layout title="Troy FRC's team" description="">
   <ul>
    <li>
      <h2>Admin</h2>
      <ul>
        Random HumanCard here
      </ul>
      <ul>
        <HumanCard name="Yavor Kolev" />
      </ul>
    </li>
    
    <li>
      <h2>Build</h2>
      <ul>
        Random HumanCard here
      </ul>
    </li>
  </ul>
</Layout>
