---
const { slides } = Astro.props;
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/team/*.{jpeg,jpg,png,gif}",
);
---

<div>
  <div class="carousel max-w-xl w-full">
    {
      Object.entries(images).map(([name, _], ix) => (
        <div id={`item${ix + 1}`} class="carousel-item w-full">
          <Image
            src={images[name]()}
            alt={"image of troy frc doing something"}
            class="w-full"
          />
        </div>
      ))
    }
  </div>
  <div class="flex justify-center w-full py-2 gap-2">
    {
      Object.entries(images).map((_, ix) => (
        <a href={`#item${ix + 1}`} class="btn btn-xs">
          {ix + 1}
        </a>
      ))
    }
  </div>
</div>
